

    {% extends "learning_logs/base.html" %}
    {% load django_bootstrap5 %}

    {% block title %}
        <title>new_topic</title>
    {% endblock title %}

    {% block header %}
        <h4>Add a New Topic</h4>
    {% endblock header %}

    {% block content %}
    <p>Add a new topic:</p>
    <form action="{% url 'learning_logs:new_topic' %}" method='post'>
        {% csrf_token %}<!--保护表单免受跨站请求伪造攻击-->
        {% bootstrap_form form %}<!--使用Bootstrap样式渲染表单-->
        {% bootstrap_button "Add Topic" button_type="submit" name="submit" class="btn btn-primary" %}
    </form> 
    {% endblock content %}

